.fur-slider-viewport {
    position: relative;
}

.fur-slider-slide {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)

}

.fur-slide-active {
    opacity: 1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)
}