@import "http://cdn.wewantfur.com/basicfur/css/basicfur-v2-min.css";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);

.panel {
	border: 1px solid #e2e2e2;
	padding: 20px;
}

.offsettest {
	margin: 20px;
}

.fur-thumb {
    border: 1px solid transparent;
}

.fur-thumb-active {
    border: 1px solid red;
}
.fur-slider {
    width: 600px;
    margin: 10px auto;
}

.fur-slider-items {
    list-style-type: none;
    width: 260px;
    float: right;
}

.fur-slider-items li {
    float: left;
    margin: 0 10px 10px 0;
}